body {
  margin: 0 10px;
	padding: 0;
	border: 0;
	font: 76% verdana, sans-serif;
	color: #474747;
	background-color: #00385f;
}
.floatleft {
  float: left;
}
.hand {
  cursor: pointer;
}
#content {
  float: left;
  background: #fff;
  width: 100%;
}
#left {
  position: relative;
  float: right;
  width: 215px;
  background-color: #005690;
  color: #fff;
  overflow: hidden;
}
#body {
  margin: 0 380px auto 0;
  padding: 0 10px;
  line-height: 1.4em;
  font-size: 1em;
  background-color: #fff;
}
#right {
  float: right;
  width: 165px;
  height: 600px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
#footer {
  clear: both;
  padding-top: 10px;
  background: #002a47;
  border-top: 3px solid #aaa;
}
#contain {
  float: left;
  text-align: center;
  white-space: normal;
  background: #fff;
}
td {
	background-position: center center;
	background-repeat: no-repeat;
}
pre {
	font: 1em/1.4em verdana, sans-serif;
}
pre.center {
  text-align: left;
}
ul.haiku {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
ul.haiku li {
	list-style-type: none;
}
.large {
	font-size: 5em;
}
.clear {
	clear: both;
}
.floatleft {
	float: left;
}
.floatright, .rimag {
	float: right;
}
.card {
	text-align:center;
	border: 2px solid #000;
}
.small {
	font-size: 1em;
}
.center {
	text-align: center;
}
.smallcaps {
	font-variant: small-caps;
}
.con {
	padding: 0;
	border: 1px solid #efefef;
	float: left;
}
.con2 {
	padding: 5px;
	margin-top: 20px;
	border: 1px solid #efefef;
	float: left;
}
.con .imag img, .con2 .imag img {
	border: 0;
	margin: 0 10px 10px;
}
.conshade {
	margin: 0;
	border-right: 3px solid #CAE0F1;
	border-bottom: 3px solid #CAE0F1;
	width: 400px;
	float: left;
}
.adlink {
	margin: 0 10px;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 10px;
}
h3 {
	margin: 0;
	font-size: 1em;
  margin: 0;
	font-weight: normal;
}
em, i, .color {
	color: #005690;
}
.pink, dt, strong, b, h3 {
	color: #BF526F;
}
.square, .leftsquare {
	float: left;
	margin: 0 10px 0 10px;
}
.adtop {
  margin: 5px auto;
}
.adsquare {
	float: right;
	margin: 5px 10px;
}
#funny-quotes {
 float: left;
}
.funny, .box {
	float: left;
	margin: 10px;
	padding: 5px;
	border: 1px outset #ccc;
	background: top right url(corner.png) no-repeat;
}
.section {
	margin: 10px 5px;
	padding: 5px;
	border: 1px solid #efefef;
}
a.section {
	color: #005690;
}
a:hover.section {
	text-decoration: none;
}
.section:hover {
	border: 1px solid #aaa;
	background: #fff url(/feather.png) top center no-repeat;
}
.imag {
	float: left;
	text-align: center;
	margin: 10px;
	padding: 0;
}
.imag img {
  border: #005690 1px solid;
	margin: 0 auto 5px;
}
img {
  border: 0;
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  border: 0;
  border-bottom: 1px dashed #666;
  margin: 5px 10px 5px;
}
a {
	text-decoration: none;
  color: #BF526F;
  font-size: 1.2em;
}
a:hover {
	color: #005690;
	text-decoration: underline;
}
a:visited {
	color: #8B243F;
}
.mainArticle, .bump {
	padding: 10px;
}
.conBottom {
width: 400px;
}
a.smallArticle {
	float: left;
	padding: 5px;
	margin: 5px 10px;
	border: 1px solid #efefef;
	color: #005690;
	width: 150px;
	display: block;
}
a:hover.smallArticle {
	border: 1px solid #aaa;
	background: #fff url(/feather.png) center center no-repeat;
	text-decoration: none;
	color:#005690;
}
.boxtitle {
	margin: 0;
	font-weight: bold;
	color: #005690;
}
#top {
  clear: both;
	font-size: 1em;
	z-index: 2;
  width: 100%;
  height: 80px;
  background: #005690 url(bg2.png) top left;
}
#top_left {
  float: left;
}
#top_middle {
  float: right;
  padding-right: 5px;
  position: relative;
  top: 30px;
  height: 30px;
}
#top_middle h2, #top_right h2 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #BF526F;
}
#top_middle p, #top_right p {
	margin: 0;
	padding: 0;
	color: #999;
}
#top_right {
  position: absolute;
  top: 0px;
  right: 30px;
  z-index:5;
  height: 24px;
}
#nav {
  clear: both;
  font-size: 0.8em;
  width: 100%;
  background: #002a47;
  height: 25px;
  color: #fff;
  border-bottom: 3px solid #aaa;
}
#nav ul li a {
	color: #FFF;
  font-size: 11px;
	text-decoration: none;
	margin: 3px;
}
#nav ul li a:hover {
	color: #aaa;
}
#nav ul {
  display: inline;
	list-style: none;
	margin: 0;
  padding: 0;
  position: relative;
  top: 6px;
}
#nav ul li {
  display: inline;
	list-style: none;
}
#nav a.hlnav {
  color: #BF526F;
  font-weight: bold;
}
#nav2 {
  clear: both;
  font-size: 11px;
  width: 100%;
  background: #fff;
  height: 25px;
  color: #000;
  border-bottom: 3px solid #aaa;
}
#nav2 ul li strong {
  color: #000;
}
#nav2 ul li a {
	color: #00c;
  font-size: 11px;
	text-decoration: none;
	margin: 3px;
}
#nav2 ul li a:hover {
	color: #BF526F;
}
#nav2 ul {
  display: inline;
	list-style: none;
	margin: 0;
  padding: 0;
  position: relative;
  top: 6px;
}
#nav2 ul li {
  display: inline;
	list-style: none;
	padding: 0 3px;
}
#left h2 {
  font-weight: bold;
	font-size: 1.1em;
  line-height: 1.5em;
	margin: 10px 2px 0;
  color: #fff;
  border-bottom: 3px double #999;
  padding-left: 30px;
}
#left strong {
  color: #fff;
  font-variant: small-caps;
}
#left a {
  font-size: 1em;
  color: #aaa;
}
#left .odd a {
  color: #333;
}
#left .all {
  display: block;
  padding: 5px 0 5px 5px;
}
#left .odd {
  background-color: #5aa0ba;
}
#left .slider {
  overflow: hidden;
  width: 200px;
}
#left a.share:hover {
  border-bottom: 2px solid #a00;
}
#left ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 10px 0 0;
  width: 500px;
  overflow: hidden;
}
#left ul li {
  float: left;
  position: relative;
  padding: 4px 6px 4px 0;
  margin: 0;
  overflow: hidden;
}
#left ul li a {
  display: inline;
  text-decoration: none;
  overflow: hidden;
}
#left ul li img {
  position: absolute;
  border: 1px solid #881212;
  overflow: hidden;
}
#left ul li ul {
  margin-top: 100px;
  padding: 2px;
  width: 100px;
}
#body h1 {
  text-align: left;
  font-size: 2.0em;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 15px;
  color: #000;
  font-family: Georgia,"Century Schoolbook","Times New Roman",Times,serif;
}
#body h2 {
	font-size: 1em;
  margin: 0;
  color: #005690;
	font-weight: normal;
}
#body h2 a{
  font-size: 1.2em;
  font-weight: bold;
}
#body p {
  margin: 15px;
  line-height: 1.5em;
}
#body .bottom {
	margin: 15px;
}
#body div.quonav {
	margin: 10px auto;
	text-align: center;
}
#body div.quonav a {
	color: #005690;
}
#body div.quonav a:hover {
	color: #BF526F;
}
#body ol, ul {
	list-style-position: inside;
}
#body ol li, #body ul li {
	margin-top: 10px;
}
#body a {
	font-size: 1em;
}
#body a.page {
	display: inline;
	padding: 2px 5px;
	border: 1px #ddd solid;
	background: #fff;
	color: #BF526F;
}
#body a:hover .page {
	background: #BF526F;
	color: #fff;
	text-decoration: none;
}
#adsense {
	margin: 20px 0;
	text-align: center;
}
#footer h3 {
  font-size: 1.3em;
  color: #fff;
  margin: 0;
  padding: 0;
}
#footer .foot {
	font-size: 0.9em;
	color: #fff;
	padding: 5px 10px;
	clear: left;
}
#footer ul {
  float: left;
}
#footer ul, #footer li {
  list-style: none;
  padding: 0 20px 0 20px;
  margin: 0;
  font-variant: small-caps;
}
#footer .foot a {
	font-size: 0.9em;
	color: #aaa;
}
#footer .foot a:hover {
	color: #fff;
}
#footer .copy {
	padding-top: 50px;
}
.bmks {
	border: #ccc dashed 1px;
	margin: 25px 5px 5px 0;
	padding: 5px;
	width: 215px;
}
.bmks a {
	color: #005690;
	cursor: pointer;
	font-size: 0.9em;
}
#bookmark {
  padding-right: 5px;
  color: #444;
}
input[type="text"], input[type="password"] {
  border: 1px solid #ddd;
  color: #666;
  height: 16px;
  vertical-align: middle;
}
input[type="submit"], input[type="reset"], .button {
  background: #fff;
  color: #000;
  font-size: 0.9em;
  border: 1px solid #aaa;
  padding: 0 5px 2px;
  margin: 5px;
  vertical-align: middle;
  height: 18px;
}
input[type="checkbox"] {
  border: 0;
  vertical-align: middle;
}
textarea {
  border: 1px solid #aaa;
  background: #fff url(/members/give-text.png) no-repeat center center scroll;
  color: #666;
}
textarea:focus {
  background: #fff none;
}
textarea.nobg {
  background-image: none;
}